@using Domain.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.Models.News
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!--Page Header Start-->
        <section class="page-header" style="background-image: url(~/assets/images/backgrounds/page-header_bg.jpg);">
            <div class="container">
                <div class="page-header-inner">
                    <h2>News Detail</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="/Home/Index">Home</a></li>
                        <li><span>/</span></li>
                        <li>News</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--News detials Start-->
        <section class="news_details">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-7">
                        <div class="news_details_left">
                            <div class="news_detials_img_box">
                                <div class="news_detials_img">
                                    <img src="~/@Model.FileUrl" alt="">
                                </div>
                                <div class="news_details_date_box">
                                    <p>20 Nov, 2020</p>
                                </div>
                            </div>
                            <div class="news_details_content_box">
                                <h3><a href="/News/Detail">@*Save Thousands Selling Your Property*@ @Model.Title</a></h3>
                                <ul class="list-unstyled news_details__meta">
                                    <li><a href="/News/Detail"><i class="far fa-user-circle"></i> Admin</a></li>
                                    <li><span>/</span></li>
                                    <li><a href="/News/Detail"><i class="far fa-comments"></i> @ViewBag.Comments.Count Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="news_details_text">
                                <p>@Model.Text</p>
                            </div>
                            <div class="news_details__bottom">
                                <p class="news_details__tags">
                                    <span>Tags:</span>
                                    @foreach (Tag tag in Model.Tags)
                                    {
                                        <a href="#">@tag.Text,</a>
                                    }
                                </p>
                                <div class="news_details__social-list">
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                            <div class="author-one">
                                <div class="author-one__image">
                                    <img src="~/assets/images/blog/author-1-1.jpg" alt="">
                                </div>
                                <div class="author-one__content">
                                    <h3>Christine Eve</h3>
                                    <p>It has survived not only five centuries, but also the leap into electronic
                                        typesetting,remaining unchanged. It was popularised in the sheets containing.
                                    </p>
                                </div>
                            </div>
                            <div class="comment-one">
                                <h3 class="comment-one__title">@ViewBag.Comments.Count Comments</h3>
                                @foreach (Comment comment in @ViewBag.Comments)
                                {
                                    <div class="comment-one__single">
                                        <div class="comment-one__image">
                                            <img src="~/assets/images/blog/comment-1-1.png" alt="">
                                        </div>
                                        <div class="comment-one__content">
                                            <h3>@comment.Name</h3>
                                            <p>@comment.Message</p>
                                            <a href="#" class="thm-btn comment-one__btn">Reply</a>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="comment-form">
                                <h3 class="comment-form__title">Leave a Comment</h3>
                                <form action="inc/sendemail.php" class="comment-one__form">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="comment_input_box">
                                                <input type="text" placeholder="Your name" name="name">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="comment_input_box">
                                                <input type="email" placeholder="Email address" name="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="comment_input_box">
                                                <input type="text" placeholder="Phone number" name="phone">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="comment_input_box">
                                                <input type="email" placeholder="Subject" name="Subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="comment_input_box">
                                                <textarea name="message" placeholder="Write message"></textarea>
                                            </div>
                                            <button type="submit" class="thm-btn comment-form__btn">Submit
                                                Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="sidebar">
                            <div class="sidebar__single sidebar__search">
                                <h3 class="sidebar__title clr-white">Search</h3>
                                <form action="#" class="sidebar__search-form">
                                    <input type="search" placeholder="Search">
                                    <button type="submit"><i class="icon-magnifying-glass"></i></button>
                                </form>
                            </div>
                            <div class="sidebar__single sidebar__post">
                                <h3 class="sidebar__title">Recent News</h3>
                                <ul class="sidebar__post-list list-unstyled">
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="~/assets/images/blog/lp-1-1.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <a href="#" class="sidebar__post-content_meta"><i
                                                        class="far fa-comments"></i>2 Comments</a>
                                                <a href="/News/Detail">Commercial Home Approach with issue</a>
                                            </h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="~/assets/images/blog/lp-1-2.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <a href="#" class="sidebar__post-content_meta"><i
                                                        class="far fa-comments"></i>2 Comments</a>
                                                <a href="/News/Detail">Commercial Home Approach with issue</a>
                                            </h3>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="~/assets/images/blog/lp-1-3.jpg" alt="">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <a href="#" class="sidebar__post-content_meta"><i
                                                        class="far fa-comments"></i>2 Comments</a>
                                                <a href="/News/Detail">Commercial Home Approach with issue</a>
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__single sidebar__category">
                                <h3 class="sidebar__title">Categories</h3>
                                <ul class="sidebar__category-list list-unstyled">
                                    <li><a href="#">Houses <span class="icon-right-arrow"></span></a></li>
                                    <li><a href="#">Properties <span class="icon-right-arrow"></span></a></li>
                                    <li><a href="#">Commercial <span class="icon-right-arrow"></span></a></li>
                                    <li><a href="#">Luxury Appartments <span class="icon-right-arrow"></span></a></li>
                                    <li><a href="#">Business Lisitings <span class="icon-right-arrow"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--News Details End-->

